.bench {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.student {
    flex: 1 !important;
    margin: 0 15px !important;
    background-color: #e3f2fd !important;
    padding: 10px !important;
    text-align: center !important;
    border-radius: 8px !important;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.student h5 {
    margin: 0 0 8px !important;
    font-size: 16px !important;
    color: #1565c0 !important;
}

.student p {
    margin: 0 !important;
    font-size: 14px !important;
    color: #333 !important;
}
.form-control{
    padding: 0.375rem 0.75rem;
}
@media (min-width: 768px) {
    .student {
        
       padding:  3px !important;
       margin: 0 5px !important;
}
.student h5{
    font-size: 14px !important;
}
.bench{
    padding: 6px;
}
.bench_container{
    margin-top: 0px !important;
}
}